@mixin twopxborder {
  padding-bottom: 15px;
  margin-bottom: 7px;
  border-bottom: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
