%ul.media-list.popular.today
  = render :collection => @popular_today, :as => :video, :partial => "videos/thumb"

  #pagination
    = paginate @popular_today
    .page-entries-info= page_entries_info @popular_today
