#fb-root

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "#{FB_APP_ID}",
      channelUrl : "#{CHANNEL_URL}",
      status     : true,
      cookie     : true,
      xfbml      : true
    });
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));