#primary_search.search-form
  = form_tag search_path do
    .clearfix.primary-search
      = text_field_tag :video_or_sources_or_artists_name, nil, :autocomplete => autocomplete_video_and_sources_and_artists_search_videos_path, :class => "xlarge span6 search-query", :spellcheck => "false", :placeholder => "Enter an Artist, Blog, or Video..."
      .loading
      = submit_tag "Search", :class => "btn primary"
